<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>设置</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="Setting.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="../Public/discount-cancel-btn.js" ></script>
		<script type="text/javascript" src="Setting.js"></script>
	</head>
	<body>
		<header class="return-header">
			<i class="iconfont icon-fanhui"></i>
			<span class="h-title">设置</span>
		</header>
		<div id="main-con">
			<ul id="account-setting">
				<li class="acount-item">
					<span class="item-text">店铺信息</span>
					<i class="iconfont icon-xiangqing"></i>
				</li>
				<li class="acount-item">
					<span class="item-text">账号与安全</span>
					<i class="iconfont icon-xiangqing"></i>
				</li>
			</ul>
			<ul id="com-setting">
				<li class="com-item">
					<span class="item-text">问题反馈</span>
					<i class="iconfont icon-xiangqing"></i>
				</li>
				<li class="com-item">
					<span class="item-text">关于我们</span>
					<i class="iconfont icon-xiangqing"></i>
				</li>
			</ul>
			<ul id="setting-btn">
				<li class="btn-item" id="signout-btn">
					<span class="item-text">退出账号</span>
				</li>
			</ul>
		</div>
		<div id="discount-con">
			<div class="discount-item" id="signout-dis">
				<div id="signout-con">
					<div id="signout-title">
						确认退出登录
					</div>
					<div id="confirm-exit">
						退出登录
					</div>
				</div>
				<div class="cancel-btn">
					取消
				</div>
			</div>
		</div>
	</body>
</html>
