<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 定义这个东西，让他屏幕大小适应手机端-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"><!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"><!-- 设置苹果工具栏颜色 -->
    <meta name="format-detection" content="telphone=no, email=no"><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <meta name="nightmode" content="enable/disable">
    <meta name="imagemode" content="force">
    <!-- 禁用掉uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。 -->
    <meta name="wap-font-scale" content="no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>退款进度</title>
    <link rel="stylesheet" href="../Public/reset.css">
    <link rel="stylesheet" href="../Public/iconfont.css">
    <link rel="stylesheet" href="back-money-progress.css">
</head>
<body>
    <!-- 退款进度头部 -->
    <div class="back-money-header">
        <i class="iconfont icon-back" onclick="backPre()"></i>
        <span class="back-progress">退款进度</span>
    </div>
    <!-- 中间部分 -->
    <div class="back-money-main">
        <!-- 一部分 -->
        <div class="back-main-top">
            <div class="shop-name">新石器烤肉&nbsp;&nbsp;(湖滨银泰店)</div>
            <div class="order-num-box">
                <span class="order-num">订单号：5446312135</span>
                <span class="money-num">退款金额：₭10</span>
            </div>
        </div>
        <!-- 二部分 -->
        <ul class="back-main-bottom">
            <li class="details-list">
                <p class="list-top-box">
                    <span class="list-top-left">退款成功</span>
                    <span class="list-top-right">2017-11-25 20:20</span>
                </p>
                <p class="list-bottom-box">10已退至您的钱包余额</p>
            </li>
            <li class="details-list">
                <p class="list-top-box">
                    <span class="list-top-left">退款中</span>
                    <span class="list-top-right">2017-11-25 20:20</span>
                </p>
                <p class="list-bottom-box">您的退款将在1-7个工作日退回您的钱包</p>
            </li>
            <li class="details-list">
                <p class="list-top-box">
                    <span class="list-top-left">商家已同意您的退款申请</span>
                    <span class="list-top-right">2017-11-25 20:20</span>
                </p>
                <p class="list-bottom-box">平台正在审核中</p>
            </li>
            <li class="details-list">
                <p class="list-top-box">
                    <span class="list-top-left">已发起申请</span>
                    <span class="list-top-right">2017-11-25 20:20</span>
                </p>
                <p class="list-bottom-box">退款原因：不想要了</p>
            </li>
        </ul>
    </div>
    <script src="../Public/adaptation.js"></script>
    <script src="../Public/zepto.min.js"></script>
    <script src="../Public/common.js"></script>
</body>
</html>