<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>大分类</title>
</head>
<body>
<table width="1500" border="1">
 <foreach name='row' item='v'>
	<tr>
		<td>{$v.id}</td>
		<td>{$v.cainame}</td>
		<td>{$v.price}</td>
		<td>{$v.zhekou}</td>
	<td><img src="__PUBLIC__/../Uploads/{$v['headpic']}" width="70" height="50"></td>
		<td>{$v.typeid}</td>
		<td>{$v.rx}</td>
		<td>{$v.sid}</td>
		<td>{$v.stypeid} </td>
		<td>{$v.pliao} </td>
		<td>{$v.xl} </td>
		<td>{$v.kouwei} </td>
		<td>{$v.wendu} </td>
		<td>{$v.guige} </td>
		<td>{$v.wmstate}</td>
		
	</tr>
	</foreach>
</table>
</body>
</html>



