<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>主页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=yes,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="../Public/swiper-3.4.2.min.css" />
		<link rel="stylesheet" href="Home.css" />
		<link rel="stylesheet" href="Nearby.css" />
		<link rel="stylesheet" href="Merchants.css" />
		<link rel="stylesheet" href="order-main.css" />
		<link rel="stylesheet" href="Me.css" />
		<link rel="stylesheet" href="../Public/food-shop.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/zepto.cookie.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="../Public/swiper-3.4.2.jquery.min.js"></script>
		<script type="text/javascript" src="../Public/echo.min.js"></script>
		<script type="text/javascript" src="Home.js"></script>
		<script type="text/javascript" src="Nearby.js" ></script>
		<script type="text/javascript" src="Me.js"></script>
		<script type="text/javascript" src="../Public/data.js"></script>
		<script src="order-main.js"></script>
	</head>

	<body>
		<div class="swiper-container" id="page-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<header class="html-title2">
						<a class="city-con">
							<span class="city-text">位置</span>
							<i class="iconfont icon-jiantouxia"></i>
						</a>
						<a class="input-con" href="../SearchFor/SearchFor.html">
							<i class="iconfont icon-sousuo"></i>
							<span class="search-text">ປອ້ນຂໍ້ມູນຂອງຮ້ານຄ້າ</span>
						</a>
					</header>
					<div class="home-con">
						<!--轮播-->
						<div class="swiper-container" id="home-swiper">
							<div class="swiper-wrapper"></div>
							<div class="swiper-pagination" id="home-pagination"></div>
						</div>
						<!--分类-->
						<div id="home-sort">
							<div class="sort-con">
								<a class="sort-item" href="../FoodHome/FoodHome.html" id="food-link">
									<span class="sort-img">
										<i class="iconfont icon-meishi"></i>
									</span>
									<span class="sort-text">美食</span>
								</a>
								<a class="sort-item" id="shop-link">
									<span class="sort-img">
										<i class="iconfont icon-iconfontgouwu"></i>
									</span>
									<span class="sort-text">购物</span>
								</a>
								<a class="sort-item" id="traffic-link">
									<span class="sort-img">
										<i class="iconfont icon-qiche"></i>
									</span>
									<span class="sort-text">交通</span>
								</a>
								<a class="sort-item" id="tourism-link">
									<span class="sort-img">
										<i class="iconfont icon-lvyou"></i>
									</span>
									<span class="sort-text">旅游</span>
								</a>
							</div>
							<div class="sort-con">
								<a class="sort-item" id="play-link">
									<span class="sort-img">
										<i class="iconfont icon-yule"></i>
									</span>
									<span class="sort-text">娱乐</span>
								</a>
								<a class="sort-item" id="life-link">
									<span class="sort-img">
										<i class="iconfont icon-fangzi"></i>
									</span>
									<span class="sort-text">生活</span>
								</a>
								<a class="sort-item" id="playmate-link">
									<span class="sort-img">
										<i class="iconfont icon-liaotian"></i>
									</span>
									<span class="sort-text">玩伴</span>
								</a>
								<a class="sort-item" id="moneymana-link">
									<span class="sort-img">
										<i class="iconfont icon-licai"></i>
									</span>
									<span class="sort-text">理财</span>
								</a>
							</div>
						</div>
						<!--霸王餐-->
						<div class="king-meal"></div>
						<!--特惠美食-->
						<div id="special-food">
							<h1 class="title">特惠美食</h1>
							<div id="special-swiper" class="swiper-container">
								<div class="swiper-wrapper"></div>
								<div class="swiper-pagination" id="special-pagination"></div>
							</div>
						</div>
						<!--猜你喜欢-->
						<div class="fav-con">
							<div class="fav-title">
								<span class="title-ctn">猜你喜欢</span>
							</div>
							<div class="fav-com-con">
								<div class="fav-com-item">
									<a href="" class="fav-com-link">
										<img data-echo="../../../static/Img/头像.jpg" class="fav-com-img" />
										<div class="fav-com-info">
											<div class="fav-com-name info-item">胖哥两肉蟹煲</div>
											<div class="fav-com-tip info-item">自助午餐/免费WIFI</div>
											<div class="fav-com-other info-item">
												<div class="fav-com-price">
													人均
													<span class="limite-price">
												<i class="money">￥</i><span class="pricenum">11.8</span>
													</span>
												</div>
												<div class="fav-com-dis">
													距离<span class="dis-num">26km</span>
												</div>
											</div>
										</div>
										<div class="fav-com-eva">
											<div class="fav-com-evaleft">
												<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
												</span>
											</div>
											<div class="fav-com-evaright">
												已售<span class="sale-num">564828</span>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" id="nearby-page">
					<header class="html-title2">
						<a class="city-con">
							<span class="city-text">位置</span>
							<i class="iconfont icon-jiantouxia"></i>
						</a>
						<a class="input-con" href="../SearchFor/SearchFor.html">
							<i class="iconfont icon-sousuo"></i>
							<span class="search-text">搜索商家/商品</span>
						</a>
					</header>
					<div id="nearby-con">
						<div id="nearbyshop-con">
							<div class="nearby-item">
								<img src="../../STATIC/img/meal-img.png" />
								<div class="item-info">
									<div class="name-con">店铺名称</div>
									<div class="star-num">
										<span class="star-con">
											<span class="rate-b">
												<span class="rate-s" style="width: 80%;"></span>
											</span>
											<span class="score-con">
												<span class="num-con">4.8</span>
												<span class="text-con">分</span>
											</span>
										</span>
										<span class="sale-num">
											<span class="text-con">售出</span>
											<span class="num-con">828</span>
										</span>
									</div>
									<div class="address-con">
										<span class="shop-type">美食</span>
										<span class="address">江干区</span>
									</div>
									<div class="tips-con">
										<span class="tips">自助午餐/免费wifi</span>
										<span class="distance">26km</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" id="merchants-page">
					<header id="merchants-title">招商中心</header>
					<div id="merchants-menu">
						<div class="menu-item" id="landmark">
							<span class="item-icon">
								<i class="iconfont icon-dizhi"></i>
							</span>
							<span class="menu-name">地标招商</span>
							<span class="menu-sub">平台地图添加地址</span>
						</div>
						<div class="menu-item" id="schedule">
							<span class="item-icon">
								<i class="iconfont icon-chaxun"></i>
							</span>
							<span class="menu-name">进度查询</span>
							<span class="menu-sub">查询合作进度情况</span>
						</div>
						<div class="menu-item" id="customer">
							<span class="item-icon">
								<i class="iconfont icon-linedesign-20"></i>
							</span>
							<span class="menu-name">客服中心</span>
							<span class="menu-sub">合作详情咨询</span>
						</div>
					</div>
					<div id="merchants-item">
						<div id="merchants-sub">
							<span class="text-con">成为商家</span>
						</div>
						<div id="merchants-con">
							<a class="sub-item" id="food-m">
								<i class="iconfont icon-meishi"></i>
								<span class="text-con">美食</span>
							</a>
							<a class="sub-item" id="shop-m">
								<i class="iconfont icon-iconfontgouwu"></i>
								<span class="text-con">购物</span>
							</a>
							<a class="sub-item" id="traffic-m">
								<i class="iconfont icon-qiche"></i>
								<span class="text-con">交通</span>
							</a>
							<a class="sub-item" id="tourism-m">
								<i class="iconfont icon-lvyou"></i>
								<span class="text-con">旅游</span>
							</a>
							<a class="sub-item" id="play-m">
								<i class="iconfont icon-yule"></i>
								<span class="text-con">娱乐</span>
							</a>
							<a class="sub-item" id="life-m">
								<i class="iconfont icon-fangzi"></i>
								<span class="text-con">生活</span>
							</a>
							<a class="sub-item" id="playmate-m">
								<i class="iconfont icon-liaotian"></i>
								<span class="text-con">玩伴</span>
							</a>
							<a class="sub-item" id="moneymana-m">
								<i class="iconfont icon-licai"></i>
								<span class="text-con">理财</span>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide" id="order-page">
					<!-- 头部 -->
					<div class="order-main-header">订单</div>
					<!-- 中间 -->
					<div class="order-main-top">
						<div class="order-main-list">
							<a href="../DelicacyOrder/delicacy-order.html" class="order-items">
								<span class="order-img-box" id="delicacy-order">
									<i class="iconfont icon-meishi"></i>
								</span>
								<span class="order-text">美食订单</span>
							</a>
							<a href="../TakeoutOrder/takeout-order.html" class="order-items">
								<span class="order-img-box" id="takeout-order">
									<i class="iconfont icon-icon-test"></i>
								</span>
								<span class="order-text">外卖订单</span>
							</a>
							<a href="#" class="order-items">
								<span class="order-img-box" id="shop-order">
									<i class="iconfont icon-iconfontgouwu"></i>
								</span>
								<span class="order-text">购物订单</span>
							</a>
							<a href="#" class="order-items">
								<span class="order-img-box" id="hotel-order">
									<i class="iconfont icon-jiudian"></i>
								</span>
								<span class="order-text">酒店订单</span>
							</a>
						</div>
						<!-- 第二行订单列表 -->
						<div class="order-main-list order-main-diff">
							<a href="#" class="order-items">
								<span class="order-img-box" id="yule-order">
									<i class="iconfont icon-yule1"></i>
								</span>
								<span class="order-text">娱乐订单</span>
							</a>
							<a href="#" class="order-items">
								<span class="order-img-box" id="tickets-order">
									<i class="iconfont icon-jipiao"></i>
								</span>
								<span class="order-text">机票订单</span>
							</a>
							<a href="#" class="order-items">
								<span class="order-img-box" id="train-order">
									<i class="iconfont icon-peixun"></i>
								</span>
								<span class="order-text">培训订单</span>
							</a>
							<a href="#" class="order-items">
								<span class="order-img-box" id="finance-order">
									<i class="iconfont icon-licai"></i>
								</span>
								<span class="order-text">理财订单</span>
							</a>
						</div>
					</div>
					<div class="current-order">当前订单</div>
					<!-- 订单列表 -->
					<div class="current-order-list">
						<!-- 从后端数据获取当前订单信息创建列表 -->
					</div>
				</div>
				<div class="swiper-slide">
					<!--用户信息-->
					<div class="user-info">
						<div class="info-con">
							<div class="img-con">
								<img src="../../STATIC/img/default.jpg" />
							</div>
							<div class="tips-con">
								<span class="user-name tip-item">登录</span>
								<span class="phone tip-item"><i class="iconfont icon-shouji"></i><span class="number-con">请先登录~</span></span>
							</div>
							<i class="iconfont icon-jiantouyou"></i>
						</div>
					</div>
					<!--钱包-->
					<div class="wallet">
						<div class="wallet-item" id="wallet">
							<span class="wallet-img">
					<i class="iconfont icon-qia"></i>
				</span>
							<span class="wallet-name">钱包</span>
						</div>
						<div class="wallet-item" id="kin">
							<span class="wallet-img">
					<i class="iconfont icon-zhuanzhangchongzhi"></i>
				</span>
							<span class="wallet-name">KIN宝</span>
						</div>
					</div>
					<!--菜单-->
					<div class="menu-con">
						<ul>
							<li id="eva">
								<i class="iconfont icon-pingjia"></i>评价
							</li>
							<li id="bills">
								<i class="iconfont icon-zhangdan"></i>账单
							</li>
							<li id="address">
								<i class="iconfont icon-dizhiguanli"></i>地址
							</li>
							<li id="coupon">
								<i class="iconfont icon-youhuiquan"></i>优惠券
							</li>
							<li id="custo">
								<i class="iconfont icon-kefu"></i>客服中心
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer id="page-pagination">
			<div id="home-btn" class="page-btn selected">
				<span class="img-con">
					<i class="iconfont icon-icon-f1"></i>
				</span>
				<span class="btn-text">主页</span>
			</div>
			<div id="nearby-btn" class="page-btn">
				<span class="img-con">
					<i class="iconfont icon-fujin"></i>
				</span>
				<span class="btn-text">附近</span>
			</div>
			<div id="merchans-btn" class="page-btn">
				<span class="img-con">
					<i class="iconfont icon-zhaoshang"></i>
				</span>
				<span class="btn-text">招商</span>
			</div>
			<div id="order-btn" class="page-btn">
				<span class="img-con">
					<i class="iconfont icon-nav-order"></i>
				</span>
				<span class="btn-text">订单</span>
			</div>
			<div id="me-btn" class="page-btn">
				<span class="img-con">
					<i class="iconfont icon-wendashoujibanICON-"></i>
				</span>
				<span class="btn-text">我的</span>
			</div>
		</footer>
	</body>

</html>