#order-page{
	box-sizing:border-box;
	background: #f3f4f5;
}
.order-main-header{
    width:100%;
    height:0.96rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.36rem;
    color: #333;
    border-bottom:1px solid #f1f1f1;
}
.order-main-top{
    width:100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    padding: .22rem 0;
}
.order-main-list{
    width:100%;
    display: flex;
}
.order-main-diff{
    margin-top: 0.26rem;
}
.order-items{
    width: 25%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.order-img-box{
    width: 1.26rem;
    height: 1.26rem;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.order-text{
    text-align: center;
    width: 100%;
    font-size: 0.25rem;
    color: #333;
    margin-top: 0.1rem;
}
#delicacy-order{
    background: linear-gradient(to bottom right,#fdc7c5,#fb8f8b);
	background: -webkit-linear-gradient(left top,#fdc7c5,#fb8f8b);
	background: -moz-linear-gradient(bottom right,#fdc7c5,#fb8f8b);
	background: -o-linear-gradient(bottom right,#fdc7c5,#fb8f8b);
	opacity: 0.9;
}
#takeout-order{
    background: linear-gradient(to bottom right,#f6d7c5,#f4b997);
	background: -webkit-linear-gradient(left top,#f6d7c5,#f4b997);
	background: -moz-linear-gradient(bottom right,#f6d7c5,#f4b997);
	background: -o-linear-gradient(bottom right,#f6d7c5,#f4b997);
	opacity: 0.9;
}
#shop-order{
    background: linear-gradient(to bottom right,#e9e9c5,#e9e99a);
	background: -webkit-linear-gradient(left top,#e9e9c5,#e9e99a);
	background: -moz-linear-gradient(bottom right,#e9e9c5,#e9e99a);
	background: -o-linear-gradient(bottom right,#e9e9c5,#e9e99a);
	opacity: 0.9;
}
#hotel-order{
    background: linear-gradient(to bottom right,#c9e2c1,#a5e093);
	background: -webkit-linear-gradient(left top,#c9e2c1,#a5e093);
	background: -moz-linear-gradient(bottom right,#c9e2c1,#a5e093);
	background: -o-linear-gradient(bottom right,#c9e2c1,#a5e093);
	opacity: 0.9;
}
#yule-order{
    background: linear-gradient(to bottom right,#b5e0e3,#89dce2);
	background: -webkit-linear-gradient(left top,#b5e0e3,#89dce2);
	background: -moz-linear-gradient(bottom right,#b5e0e3,#89dce2);
	background: -o-linear-gradient(bottom right,#b5e0e3,#89dce2);
	opacity: 0.9;
}
#tickets-order{
    background: linear-gradient(to bottom right,#b8e3ea,#8cdce9);
	background: -webkit-linear-gradient(left top,#b8e3ea,#8cdce9);
	background: -moz-linear-gradient(bottom right,#b8e3ea,#8cdce9);
	background: -o-linear-gradient(bottom right,#b8e3ea,#8cdce9);
	opacity: 0.9;
}
#train-order{
    background: linear-gradient(to bottom right,#c8c6e5,#9691e4);
	background: -webkit-linear-gradient(left top,#c8c6e5,#9691e4);
	background: -moz-linear-gradient(bottom right,#c8c6e5,#9691e4);
	background: -o-linear-gradient(bottom right,#c8c6e5,#9691e4);
	opacity: 0.9;
}
#finance-order{
    background: linear-gradient(to bottom right,#f4c6df,#f294c7);
	background: -webkit-linear-gradient(left top,#f4c6df,#f294c7);
	background: -moz-linear-gradient(bottom right,#f4c6df,#f294c7);
	background: -o-linear-gradient(bottom right,#f4c6df,#f294c7);
	opacity: 0.9;
}
.order-img-box .iconfont{
    color: #06bfd7;
    font-size: 0.85rem;
}
/* 当前订单 */
.current-order{
    width:100%;
    height:0.96rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.26rem;
    color: #333;
}
/* 订单列表 */
.current-order-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.96rem;
}
.will-consume-box{
    width:94.5%;
    height:2.41rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#fff;
    border-radius:6px;
    box-shadow: 0px 0.03rem 0.1rem 0px
    rgba(0, 0, 0, 0.1);
    margin-bottom: 0.22rem;
}
.will-consume-title{
    width:94.1%;
    height:0.76rem;
    display:flex;
    justify-content:center;
    border-bottom:0.01rem solid #f3f4f5;
}
.shop-name{
    display:inline-block;
    width:50%;
    height:0.76rem;
    box-sizing: border-box;
    padding-left:0.22rem;
    line-height:0.76rem;
    font-size:0.26rem;
    color:#333;
    text-align: left;
}
.will-consume-word{
    display:inline-block;
    width:50%;
    height:0.76rem;
    line-height:0.76rem;
    font-size:0.26rem;
    color:#666;
    text-align:right;
    box-sizing:border-box;
    padding-right:0.1rem;
}
.will-consume-content{
    width:94.1%;
    height:1.64rem;
    display:flex;
    align-items:center;
}
.content-left{
    width:27%;
    height:1.64rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
.content-left-img{
    display:inline-block;
    width:1.4rem;
    height:1.4rem;
}
.content-right{
    width:73%;
    height:1.64rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.content-right-top{
    width:100%;
    height:0.6rem;
    display:flex;
    justify-content: space-between;
}
.content-right-left{
    width:80%;
    height:0.6rem;
    display: flex;
    flex-direction: column;
}
.icon-box{
    width:20%;
    height:0.6rem;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.icon-next{
    font-size: 0.3rem!important;
    color: #6abdd5;
}
.content-right-top1{
    display:block;
    width:100%;
    height:0.3rem;
    text-align:left;
    font-size:0.26rem;
    line-height:0.3rem;
    color:#333;
}
.content-right-top2{
    display:block;
    width:100%;
    height:0.27rem;
    margin-top:0.14rem;
    line-height:0.27rem;
    text-align:left;
    font-size:0.2rem;
    color:#999;
}
.icon-next{
    font-size: 0.26rem;
    color: #6abdd5;
}
.content-right-bottom{
    width:100%;
    height:0.54rem;
    display:flex;
}
.content-right-bottom1{
    width:74.1%;
    height:0.54rem;
    display:flex;
}
.all-count{
    display:flex;
    align-items:flex-end;
    font-size:0.26rem;
    color:#333;
}
.money-num{
    display:flex;
    align-items:flex-end;
    font-size:0.26rem;
    color:#6abdd5;
}
.view-code{
    border:none;
    width:25.9%;
    height:0.43rem;
    text-align:center;
    margin-top:0.11rem;
    line-height:0.43rem;
    color:white!important;
    border-radius:0.06rem;
    font-size:0.2rem;
    background:#6abdd5;
    outline:none;
}