<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>选择城市</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="CitySelect.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/zepto.cookie.min.js" ></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="CitySelect.js"></script>
		<script type="text/javascript" src="../Public/pinyin_dict_firstletter.js"></script>
		<script type="text/javascript" src="../Public/pinyinUtil.js"></script>
		<script type="text/javascript" src="city-sort.js"></script>
		<script type="text/javascript" src="../Public/language.js" ></script>
	</head>
	<body>
		<header class="html-title4">
			<i class="iconfont icon-fanhui"></i>
			<span class="input-con">
				<i class="iconfont icon-sousuo"></i>
				<input class="city-text" type="text" value="城市" set-lan="val:city"/>
			</span>
		</header>
		<div class="main-con">
			<div class="city-history">
				<div class="history-item">
					<span class="item-title" set-lan="html:currentcity">当前定位城市</span>
					<ul>
						<li class="current-city city-item">
							<i class="iconfont icon-dizhiguanli"></i>
							<span class="city-text">杭州</span>
						</li>
					</ul>
				</div>
				<div class="history-item">
					<span class="item-title" set-lan="html:recentcity">最近访问</span>
					<ul>
						<li class="city-item">
							<span class="city-text">杭州</span>
						</li>
						<li class="city-item">
							<span class="city-text">北京</span>
						</li>
						<li class="city-item">
							<span class="city-text">泰国</span>
						</li>
						<li class="city-item">
							<span class="city-text">万象</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="city-select">
				<ul id="city-list">

				</ul>
			</div>
		</div>
	</body>
</html>
