.details-list{
    width:100%;
    flex:1;
}
.listname-box{
    width:100%;
    height:1.2rem;
    box-sizing:border-box;
    border-bottom:1px solid #E8E6E7;
    display:flex;
    flex-direction:column;
    padding-left:0.2rem;
}
.list-bar{
   width:100%;
   height:0.6rem;
   display:flex;
   justify-content:space-between;
   align-items:center; 
}
.details-name{
    display:inline-block;
    width:80%;
    height:0.6rem;
    display:flex;
    align-items:center;
    font-size:0.3rem;
}
.date{
    display:inline-block;
    width:20%;
    height:0.6rem;
    display:flex;
    align-items:center;
    font-size:0.22rem;
    color:#B8B3B7;
}
.yu-e-bar{
    width:80%;
    height:0.6rem;
    display:flex;
    align-items:center;
}
.yu-e{
    font-size:0.3rem;
}
.money-num{
    font-size: 0.3rem;
    color: #333;
}
.tongji{
    width:20%;
    height:0.6rem;
    display:flex;
    align-items:center;
    font-size:0.28rem;
}
.compute{
    font-size:0.32rem;
}