body{
	background: #fff;
}
#passSwiper{
	width: 100%;
	margin-top: .95rem;
	background: #fff;
}
#oldpage,#newpage{
	padding: .4rem .2rem;
}
#oldpassword{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	padding: 0 .2rem;
	color: #B8B3B6;
	border: 1px solid #B8B3B6;
	outline: none;
	border-radius: 8px;
}
.next-btn{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	color: #FFF;
	margin-top: .4rem;
	background: #0099DA;
	border-radius: 8px;
	border: none;
	outline: none;
}
.password-con{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	border: 1px solid #B8B3B6;
	padding-left: .1rem;
	color: #B8B3B6;
	border-radius: 8px;
	margin-top: .2rem;
	display: flex;
	display: -webkit-flex;
	overflow: hidden;
	background: #fff;
}
.icon-con{
	width: 10%;
	height: 100%;
	text-align: center;
}
.icon-con .iconfont{
	font-size: .5rem;
}
.password-con input{
	width: 90%;
	height: 100%;
	border: none;
	outline: medium;
	color: #B8B3B6;
}
.tips-con{
	width: 100%;
	line-height: .8rem;
	color: #F14842;
	margin-top: .2rem;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
