
/*主体*/
.main{
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	top: .95rem;
}
.main .main-con{
	position: absolute;
	top: 5%;
	width: 100%;
	padding: 0 .2rem;
}
#input-con{
	margin-bottom: .5rem;
}
.main-con .input-con{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	border: 1px solid #B8B3B7;
	padding-left: .1rem;
	color: #B8B3B7;
	border-radius: .06rem;
	margin-bottom:.2rem;
	display: flex;
	display: -webkit-flex;
	overflow: hidden;
	position: relative;
}
.main-con .input-con .icon-con{
	width: 10%;
	height: 100%;
	text-align: center;
}
.main-con .input-con .iconfont{
	font-size: .5rem;
}
#area-code{
	border: none;
	outline: none;
	background: #fff;
}
#area-code option{
	border: none;
	outline: none;
	background: #fff;
}
.main-con .input-con input{
	height: 100%;
	width: 90%;
	font-size: .3rem;
	border: none;
	outline: medium;
	color: #333;
}
.main-con .input-con .error{
	position: absolute;
	right: .1rem;
	color: #F24842;
	font-size: .3rem;
	display: none;
}
.input-con.error .error{
	display: block;
}
.main-con .input-con #sms{
	height: 100%;
	width: 60%;
	font-size: .3rem;
	float: left;
	border: none;
	outline: medium;
	color: #333;
}
#send-sms{
	height: 100%;
	width: 40%;
	font-size: .3rem;
	float: right;
	border: none;
	color: #fff;
	text-align: center;
	background: #00BED7;
	outline: none;
}
#send-sms .time-text{
	display: none;
}
#send-sms.disable{
	background: #E8E6E7;
	color: #B8B3B7;
}
.main-con .register-btn{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	background: #00BED7;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: .3rem;
	letter-spacing: .2rem;
}
.main-con .register-btn.disabled{
	background: #B8B3B7;
}
#turnLogin{
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content:  center;
}
#turnLogin a{
	border: none;
	outline: none;
	color: #00BED7;
	background: #fff;
	font-size: .2rem;
	margin-top: .1rem;
}
#tip{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	color: #F24842;
	text-align: center;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}



