#order-page{
	width: 100%;
	margin-top: .95rem;
}
/*内容*/
.order-con{
	width: 100%;
	padding: .35rem;
}
.food-order{
	width: 100%;
	border-collapse: collapse;
}
.food-order .shop-name{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	font-size: .35rem;
	font-weight: 700;
	border-bottom: 1px solid #B8B3B7;
}
.food-order tr{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	border-bottom: 1px solid #B8B3B7;
	font-size: .3rem;
}
.food-order .food-name{
	width: 50%;
	text-align: left;
}
.food-order .food-num{
	width: 25%;
	text-align: center;
}
.food-order .food-price{
	width: 25%;
	text-align: right;
}
.total-con{
	height: .8rem;
	width: 100%;
	line-height: .8rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
#store-price{
	width: 50%;
	text-align: left;
	color: #999;
	text-decoration: line-through;
}
.total-con .total-price{
	width: 50%;
	text-align: right;
	color: #00BED7;
}
/*订单底部*/
#order-page footer{
	position: fixed;
	height: .95rem;
	width: 100%;
	line-height: .95rem;
	padding-left:.2rem;
	z-index: 10;
	font-weight: 700;
	background: rgba(0,0,0,.9);
	bottom: 0;
	color: #fff;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
#order-page  .pay-money-con{
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pay-money-con .must-pay-con{
	font-size: .4rem;
	padding-right: .1rem;
	display: block;
}
.pay-money-con .discount-money{
	padding-left: .1rem;
	font-weight: 100;
	border-left: 1px solid #fff;
}
#order-page .pay-btn-con{
	width: 30%;
	font-size: .4rem;
	background: #00BED7;
	text-align: center;
}
