<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>提交订单</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="FoodPay.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/zepto.cookie.min.js" ></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="FoodPay.js"></script>
		<script type="text/javascript" src="../Public/language.js" ></script>
	</head>

	<body>
		<header class="html-title">
			<i class="iconfont icon-fanhui"></i>
			<span class="title-text" set-lan="html:submitorder">提交订单</span>
		</header>
		<div id="order-page">
			<div class="order-con">
				<table class="food-order">
					<caption class="shop-name"></caption>
					<thead>
						<tr>
							<th class="food-name" set-lan="html:name2">名称</th>
							<th class="food-num" set-lan="html:number">数量</th>
							<th class="food-price" set-lan="html:price">价格</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="food-name"></td>
							<td class="food-num">x1</td>
							<td class="food-price">
								<span id="tcPrice">
											<i class="money">￥</i><span class="money-num"></span>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="total-con">
					<span id="store-price">
								<span class="text-con" set-lan="html:storeprice2">门店价：</span>
					<span class="money-con">
									<i class="money">￥</i><span class="money-num"></span>
					</span>
					</span>
					<span class="total-price">
								<span class="text-con" set-lan="html:total">总计</span>
					<span class="money-con">
									<i class="money">￥</i><span class="money-num"></span>
					</span>
					</span>
				</div>
			</div>
			<footer>
				<div class="pay-money-con">
					<span class="must-pay-con">
								<i class="money">￥</i><span class="money-num">99999</span>
					</span>
				</div>
				<div class="pay-btn-con" set-lan="html:submitorder">
					提交订单
				</div>
			</footer>
		</div>
	</body>

</html>