<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>检测登录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="DetectLogin.css"/>
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="DetectLogin.js"></script>
	</head>
	<body>
		<header class="html-title">
			<i class="iconfont icon-fanhui"></i>
			<span class="title-text">请先登录</span>
		</header>
		<div class="main-con">
			<div class="tip-con">
				<div class="tip">系统检测到您尚未登录</div>
				<div class="tip">请先登录帐号~</div>
			</div>
			<div class="btn-con">
				<button class="login-btn">登录</button>
				<button class="login-btn">注册</button>
			</div>
		</div>
	</body>
</html>
