<extend name='Layout:layout' />

<block name='sp'>
<style>
input[type="password"] {
    padding: 8px 5px;
    border: 1px solid #ccc;
    width: 85%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fcfcfc;
    vertical-align: middle;
    -moz-box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    color: #666;
</style>
        <div class="pageheader">
            <h1 class="pagetitle">管理员信息添加</h1>

        </div><!--pageheader-->

            <div id="validation" class="subcontent" >
                
                    <form id="form1" class="stdform" method="post" action="{:U('hadd_user')}" enctype="multipart/form-data">
                      <p>
                          <label>账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                            <span class="field"><input type="text" name="name" id="firstname" style="width:30%" class="longinput"/></span>
                        </p>
                        <p>
                          <label>用&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;&nbsp;名</label>
                            <span class="field"><input type="text" name="username" id="email" class="longinput" style="width:30%" /></span>
                        </p>
                        <p>
                          <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                            <span class="field"><input type="password" name="pass" id="email" class="longinput" style="width:30%" /></span>
                        </p>
                        <p>
                          <label>确&nbsp;认&nbsp;密&nbsp;码</label>
                            <span class="field"><input type="password" name="qr_pass" id="email" class="longinput" style="width:30%" /></span>
                        </p>
                        <p>
                            <label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
                            <span class="field"><input type="text" name="email" id="email" class="longinput" style="width:30%"/></span>
                        </p>
                        <p>
                        <p>
                            <label>用&nbsp;户&nbsp;头&nbsp;像</label>
                            <span class="field"><input type="file" name="pic" id="email" class="longinput" style="width:30%"  /></span>
                            
                        </p>
                        <p>
                            <label>用&nbsp;户&nbsp;权&nbsp;限</label>
                             <span class="field">
                             <select size="1" style='min-width:20%' name="glid">
                                <foreach name='ga_row' item='v'>

                                   <option  value="{$v['id']}">{$v.gname}</option>
                              
                                </foreach>
                             </select>
                             </span>
                        </p>

                        <br />
                        
                       <p class="stdformbutton">
                        <button class="submit radius2" >
                          &nbsp;&nbsp;&nbsp;<font size='5px'>添&nbsp;&nbsp;&nbsp;&nbsp;加</font>&nbsp;&nbsp;&nbsp;
                        </button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       </p> 
                       
                    </form>

            </div><!--subcontent-->
        
    
</div>


<script>
  aa();
  function aa() {
    $('#formsub').css('display','block');
  }


</script>


</block>