<extend name='Layout:layout' />
<block name='sp'>
<style>
.dataTables_filter{
    top:77px;
    right:23px;
}
.pagination{
  float:right;
}
.page{
  height:33px;
}
.contentwrapper {
    width:50%;
}
</style>
    <div class="pageheader">
        <h1 class="pagetitle">&nbsp;{$q_name['name']}&nbsp;&nbsp;的交易明细 </h1>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper">
        </form>
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable">
                    <colgroup>
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head1">交易类型</th>
                            <th class="head0">账户余额</th>
                            <th class="head0">交易时间</th>      
                        </tr>
                    </thead>

                    <tbody>
                     <foreach name='row' item='v'>
                        <tr class="gradeX">
                            <td class="center">{$v.sming}</td>
                            <td class="center">{$v.new}</td>
                            <td class="center">{$v.time}</td>
                            
                        </tr>
                     </foreach>
                    </tbody>
                </table>
                <div class="dataTables_info" id="dyntable_info">
           		</div>

           <div class="dataTables_paginate paging_full_numbers page" id="dyntable_paginate">
            {$show}
           </div>
          </div>
    </div><!--contentwrapper-->


<script>
	aa();
	function aa() {
		$('#formsub').css('display','block');
	}


</script>
</block>