/*支付框*/
#discount-con #pay-con{
	width: 90%;
	bottom: 30%;
	margin: 0 5%;
	background: #fff;
	position: fixed;
	color: #000;
	display: none;
} 
#pay-con .pay-title{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	padding: 0 .2rem;
	font-size: .3rem;
	border-bottom: 1px solid #00BED7;
}
.pay-title .iconfont{
	width: 8%;
	height: 100%;
	text-align: center;
	display: inline-block;
}
.pay-title .title-text{
	width: 90%;
	height: 100%;
	text-align: center;
	display: inline-block;
}
#pay-con .pay-info{
	width: 100%;
	font-size: .3rem;
	padding: .2rem 0;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.pay-info .pay-money{
	font-size: .5rem;
	line-height: .7rem;
}
.pay-info .pay-tips{
	color: #FF0000;
}
#pay-con .pay-password{
	width: 90%;
	margin: .2rem 5%;
	position: relative;
}
.pay-password .password-con{
	width: 100%;
	height: .8rem;
	display: flex;
	display: -webkit-flex;
}
.password-con .lattice{
	width: 16.6%;
	height: 100%;
	border: 1px solid #1E0F00;
	border-left: none;
	font-size: .5rem;
	line-height: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.password-con .lattice:first-child{
	border-left: 1px solid #1E0F00;
}
.pay-password #pay-pass{
	width: 100%;
	height: .8rem;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	opacity: 0;
}