<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>外卖主页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="TakeawayDetail.css"/>
		<link rel="stylesheet" href="../Public/eva.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="TakeawayDetail.js"></script>
	</head>
	<body>
		<!--商品图片展示-->
		<div class="img-discon">
			<div id="carousel-con">
				<div class="img-item" id="img-item1"></div>
				<div class="img-item" id="img-item2"></div>
				<div class="img-item" id="img-item3"></div>
			</div>
			<div class="img-direccon">
				<div class="img-name">乌拉乌拉乌拉乌拉乌拉乌拉乌拉</div>
				<div class="img-numcon">
					<span class="img-num"></span>/
					<span class="img-nums"></span>
				</div>
			</div>
		</div>
		
		
		<div class="food-details">
			<!--商店图片-->
			<div class="shop-imgcon">
				<img src="../../STATIC/img/网站-04.jpg" class="shop-img" />
				<span class="close-btn">
					<i class="iconfont icon-guanbi"></i>
				</span>
			</div>
			<!--套餐名字-->
			<div class="detailsname-con">
				<div class="name">菜品名称</div>
				<div class="sale-num-con">
					已售<span class="sale-num">4564654</span>
				</div>
				<div class="price-con">
					<span class="limite-pricecon">
						<i class="money">￥</i>
						<span class="pricenum">299</span>
					</span>

					<span class="buy-btn">
						<a href="">加入购物车</a>
					</span>
				</div>
			</div>
			<!--菜品信息-->
			<div class="otherdetails-con">
				<div class="title-con">商品详情</div>
				<div class="text-con">一闪一闪亮晶晶，满天都是小星星。我嫉妒你的爱气势如虹，像个人气高居不下的天后</div>
			</div>

			<!--用户评价-->
			<div class="shop-info-eva">
				<div class="eva-score">
					<div class="eva-title">
						外卖评价<span class="eva-con">(好评度<span class="eva-num">100%</span>)</span>
					</div>
				</div>
				<ul id="eva-list">
					<li class="eva-item">
						<div class="eva-itemtitle">
							<a href="" class="eva-user">
								<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
								<i class="icon-level"></i>
								</span>
								<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
								</span>
								</span>
								</span>
								<span class="eva-time">
								2017-7-10
							</span>
							</a>
						</div>
						<div class="evaitem-main">
							<div class="eva-text">菜品新鲜，环境不错。</div>
							<div class="eva-img">
								<div class="img-con">
									<img src="../../STATIC/img/头像.jpg" />
									<img src="../../STATIC/img/网站-06.jpg" />
									<img src="../../STATIC/img/头像.jpg" />
									<img src="../../STATIC/img/头像.jpg" />
								</div>
							</div>
						</div>
					</li>
					<li class="eva-item">
						<div class="eva-itemtitle">
							<a href="" class="eva-user">
								<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
								<i class="icon-level"></i>
								</span>
								<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
								</span>
								</span>
								</span>
								<span class="eva-time">
								2017-7-10
							</span>
							</a>
						</div>
						<div class="evaitem-main">
							<div class="eva-text">菜品新鲜，环境不错。</div>
							<div class="eva-img">
								<div class="img-con">
									<img src="../../STATIC/img/头像.jpg" />
									<img src="../../STATIC/img/网站-06.jpg" />
									<img src="../../STATIC/img/头像.jpg" />
									<img src="../../STATIC/img/头像.jpg" />
								</div>
							</div>
						</div>
					</li>
					<li class="eva-item">
						<div class="eva-itemtitle">
							<a href="" class="eva-user">
								<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
								<i class="icon-level"></i>
								</span>
								<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
								</span>
								</span>
								</span>
								<span class="eva-time">
								2017-7-10
							</span>
							</a>
						</div>
						<div class="evaitem-main">
							<div class="eva-text">菜品新鲜，环境不错。</div>
							<div class="eva-img">
								<div class="img-con">
									<img src="../../STATIC/img/头像.jpg" />
									<img src="../../STATIC/img/网站-06.jpg" />
									<img src="../../STATIC/img/头像.jpg" />
									<img src="../../STATIC/img/头像.jpg" />
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</body>
</html>
