<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>外卖主页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/swiper-3.4.2.min.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="TakeawayDetail.css"/>
		<link rel="stylesheet" href="../Public/eva.css" />
		<link rel="stylesheet" href="../Public/img-show.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/zepto.cookie.min.js" ></script>
		<script type="text/javascript" src="../Public/swiper-3.4.2.jquery.min.js" ></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="TakeawayDetail.js"></script>
		<script type="text/javascript" src="../Public/echo.min.js" ></script>
	</head>
	<body>
		<div class="food-details">
			<!--商店图片-->
			<div class="shop-imgcon">
				<img class="shop-img" />
				<span class="close-btn">
					<i class="iconfont icon-guanbi"></i>
				</span>
			</div>
			<!--套餐名字-->
			<div class="detailsname-con">
				<div class="name"></div>
				<div class="sale-num-con">
					已售<span class="sale-num"></span>
				</div>
				<div class="price-con">
					<span class="limite-pricecon">
						<i class="money">￥</i>
						<span class="pricenum">299</span>
					</span>

					<span class="buy-btn">
						<a></a>
						<span id="shop-num"></span>
					</span>
				</div>
			</div>
			<!--菜品信息-->
			<div class="otherdetails-con">
				<div class="title-con">商品详情</div>
				<div class="text-con"></div>
			</div>

			<!--用户评价-->
			<div class="shop-info-eva">
				<div class="eva-score">
					<div class="eva-title">
						外卖评价<span class="eva-con">(好评度<span class="eva-num">100%</span>)</span>
					</div>
				</div>
				<ul id="eva-list"></ul>
			</div>

		</div>
		<div id="discount-con">
			<div id="img-show" class="discount-item">
				<div class="swiper-container" id="img-swiper">
					<div class="swiper-wrapper"></div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div class="discount-item" id="norm-con">
				<div class="norm-title">菜品名称</div>
				<div class="norm-list"></div>
				<div class="normprice-con">
					<span class="norm-price">
						<i class="money">K</i>
						<span class="money-text"></span>
					</span>
					<button class="joincart">加入购物车</button>
				</div>
			</div>
		</div>
	</body>
</html>
