<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>添加地址</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="AddressAdd.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="AddressAdd.js"></script>
	</head>
	<body>
		<header class="html-title">
			<i class="iconfont icon-fanhui"></i>
			<span class="title-text">添加地址</span>
		</header>
		
		<div class="main">
			<div class="user-info-con">
				<div class="title">联系人</div>
				<div class="name">
					<div class="name-con">
						<input type="text" placeholder="姓名" id="name"/>
					</div>
					<div class="sex">
						<span class="sex-con select">先生</span>
						<span class="sex-con">女士</span>
					</div>
				</div>
			</div>
			<div class="phone">
				<div class="title">电话</div>
				<div class="phone-con">
					<select id="area-code">
						<option>中国+86</option>
						<option>老挝+856</option>
					</select>
					<input type="number" placeholder="手机号码/电话号码" id="phone"/>
				</div>
			</div>
			<div class="address-con">
				<div class="title">地址</div>
				<div class="address">
					<div class="address-select">
						<input type="text" placeholder="当前仅限万象市" id="address0" disabled="disabled"/>
						<i class="iconfont icon-jiantouyou"></i>
					</div>
					<div class="address-text">
						<input type="text" placeholder="请输入详细位置" id="address"/>
					</div>
				</div>
			</div>
			<div id="tip"></div>
			<div class="btn-con">
				<button class="determine">确定</button>
			</div>
			
		</div>
	</body>
</html>
