<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>在线充值</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="RechargeOnline.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/zepto.cookie.min.js" ></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="RechargeOnline.js"></script>
		<script type="text/javascript" src="../Public/language.js" ></script>
	</head>
	<body>
		<div class="recharge-money">
			<span class="recharge-title" set-lan="html:rechnum">充值金额</span>
			<div class="input-con">
				<i class="money">K</i>
				<input type="number" id="money-number"/>
			</div>
			<div class="tips">
				<span set-lan="html:needpay">需支付</span>
				<i class="money">￥</i><span class="number">0.00</span>
				<span set-lan="html:todayrate">(今日汇率</span>
				<span id="exchange-rate">1260</span>)
			</div>
			<button id="recharge-btn" set-lan="html:gopay">去支付</button>
		</div>
	</body>
</html>
