<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>账户</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="Account.css"/>
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/zepto.cookie.min.js" ></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="Account.js"></script>
		<script type="text/javascript" src="../Public/language.js" ></script>
	</head>
	<body>
		<!--账户余额-->
		<div class="account">
			<span class="text" set-lan="html:balance">账户余额（基普）</span>
			<span class="number-con" id="balance-num">
				<i class="money">₭</i>
				<span class="number"></span>
			</span>
		</div>
		<!--操作-->
		<div class="wallet">
			<div class="wallet-item" id="widthdraw">
				<span class="wallet-img">
					<i class="iconfont icon-tixian"></i>
				</span>
				<span class="wallet-name" set-lan="html:widthdraw1">提现</span>
			</div>
			<div class="wallet-item" id="recharge">
				<span class="wallet-img">
					<i class="iconfont icon-icon_download"></i>
				</span>
				<span class="wallet-name" set-lan="html:recharge1">充值</span>
			</div>
			<div class="wallet-item" id="backcard">
				<span class="wallet-img">
					<i class="iconfont icon-qia"></i>
				</span>
				<span class="wallet-name" set-lan="html:bankcard1">我的银行卡</span>
			</div>
		</div>
		<!--菜单-->
		<div class="menu-con">
			<ul>
				<li>
					<i class="iconfont icon-2"></i>
					<span set-lan="html:trande">交易明细</span>
				</li>
				<li>
					<i class="iconfont icon-shezhi"></i>
					<span set-lan="html:payset">支付设置</span>
				</li>
			</ul>
		</div>
		<!--弹出提示-->
		<div id="discount-con">
			<div class="discount-item" id="tip-con">
				<div class="tip-title" set-lan="html:widthdrawtip1">您今日已经成功提交提现申请</div>
				<div class="tip-main">
					<span class="tip" set-lan="html:widthdrawtip2">账户提现申请每天只能提交一次</span>
					<span class="tip" set-lan="html:widthdrawtip3">请留意提现进度通知</span>
				</div>
				<button class="determine-btn" set-lan="html:determine">确定</button>
			</div>
		</div>
	</body>
</html>
