<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>地址管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="AddressManage.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="AddressManage.js"></script>
	</head>
	<body>
		<header class="html-title3">
			<span class="left-con">
				<i class="iconfont icon-fanhui"></i>
				<span>地址</span>
			</span>
			<span class="btn-con">
				<button class="determine">管理</button>
			</span>
		</header>
		
		<div class="main">
			<ul class="address-list">
				<li class="address-item select">
					<div class="address-info">
						<div class="address-text-con">江干区三堡产业大厦A座1601室江干区三堡产业大厦A座1601室</div>
						<div class="address-text-con">
							<span class="name-con">张先生</span>
							<span class="phone-con">18957556486</span>
						</div>
					</div>
					<span class="select-con">
						<span class="edit-con">
							<i class="iconfont icon-edit"></i>
						</span>
						<span class="back-con">
							<i class="iconfont icon-ok"></i>
						</span>
					</span>
				</li>
				<li class="address-item">
					<div class="address-info">
						<div class="address-text-con">江干区三堡产业大厦A座1601室江干区三堡产业大厦A座1601室</div>
						<div class="address-text-con">
							<span class="name-con">张先生</span>
							<span class="phone-con">18957556486</span>
						</div>
					</div>
					<span class="select-con">
						<span class="edit-con">
							<i class="iconfont icon-edit"></i>
						</span>
						<span class="back-con">
							<i class="iconfont icon-ok"></i>
						</span>
					</span>
				</li>
				<li class="address-item">
					<div class="address-info">
						<div class="address-text-con">江干区三堡产业大厦A座1601室江干区三堡产业大厦A座1601室</div>
						<div class="address-text-con">
							<span class="name-con">张先生</span>
							<span class="phone-con">18957556486</span>
						</div>
					</div>
					<span class="select-con">
						<span class="edit-con">
							<i class="iconfont icon-edit"></i>
						</span>
						<span class="back-con">
							<i class="iconfont icon-ok"></i>
						</span>
					</span>
				</li>
				<li class="address-item">
					<div class="address-info">
						<div class="address-text-con">江干区三堡产业大厦A座1601室江干区三堡产业大厦A座1601室</div>
						<div class="address-text-con">
							<span class="name-con">张先生</span>
							<span class="phone-con">18957556486</span>
						</div>
					</div>
					<span class="select-con">
						<span class="edit-con">
							<i class="iconfont icon-edit"></i>
						</span>
						<span class="back-con">
							<i class="iconfont icon-ok"></i>
						</span>
					</span>
				</li>
				<li class="address-item">
					<div class="address-info">
						<div class="address-text-con">江干区三堡产业大厦A座1601室江干区三堡产业大厦A座1601室</div>
						<div class="address-text-con">
							<span class="name-con">张先生</span>
							<span class="phone-con">18957556486</span>
						</div>
					</div>
					<span class="select-con">
						<span class="edit-con">
							<i class="iconfont icon-edit"></i>
						</span>
						<span class="back-con">
							<i class="iconfont icon-ok"></i>
						</span>
					</span>
				</li>
				<li class="address-item">
					<div class="address-info">
						<div class="address-text-con">江干区三堡产业大厦A座1601室江干区三堡产业大厦A座1601室</div>
						<div class="address-text-con">
							<span class="name-con">张先生</span>
							<span class="phone-con">18957556486</span>
						</div>
					</div>
					<span class="select-con">
						<span class="edit-con">
							<i class="iconfont icon-edit"></i>
						</span>
						<span class="back-con">
							<i class="iconfont icon-ok"></i>
						</span>
					</span>
				</li>
				<li class="address-item">
					<div class="address-info">
						<div class="address-text-con">江干区三堡产业大厦A座1601室江干区三堡产业大厦A座1601室</div>
						<div class="address-text-con">
							<span class="name-con">张先生</span>
							<span class="phone-con">18957556486</span>
						</div>
					</div>
					<span class="select-con">
						<span class="edit-con">
							<i class="iconfont icon-edit"></i>
						</span>
						<span class="back-con">
							<i class="iconfont icon-ok"></i>
						</span>
					</span>
				</li>
				<li class="address-item">
					<div class="address-info">
						<div class="address-text-con">江干区三堡产业大厦A座1601室江干区三堡产业大厦A座1601室</div>
						<div class="address-text-con">
							<span class="name-con">张先生</span>
							<span class="phone-con">18957556486</span>
						</div>
					</div>
					<span class="select-con">
						<span class="edit-con">
							<i class="iconfont icon-edit"></i>
						</span>
						<span class="back-con">
							<i class="iconfont icon-ok"></i>
						</span>
					</span>
				</li>
				<li class="address-item">
					<div class="address-info">
						<div class="address-text-con">江干区三堡产业大厦A座1601室江干区三堡产业大厦A座1601室</div>
						<div class="address-text-con">
							<span class="name-con">张先生</span>
							<span class="phone-con">18957556486</span>
						</div>
					</div>
					<span class="select-con">
						<span class="edit-con">
							<i class="iconfont icon-edit"></i>
						</span>
						<span class="back-con">
							<i class="iconfont icon-ok"></i>
						</span>
					</span>
				</li>
			</ul>
		</div>
		
		<footer>
			<button class="add-address">
				<i class="iconfont icon-icon02"></i>
				<span class="btn-text">添加地址</span>
			</button>
		</footer>
	</body>
</html>
