<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>搜索店内物品</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="SearchFor.css" />
		<link rel="stylesheet" href="../Public/food-shop.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/zepto.cookie.min.js" ></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="SearchFor.js"></script>
		<script type="text/javascript" src="../Public/echo.min.js" ></script>
		<script type="text/javascript" src="../Public/language.js" ></script>
	</head>

	<body>
		<header class="html-title4">
			<i class="iconfont icon-fanhui"></i>
			<span class="input-con">
				<i class="iconfont icon-sousuo"></i>
				<input class="city-text" type="text" placeholder="搜索店内物品" set-lan="placeholder:search2"/>
			</span>
			<button id="search-btn" set-lan="html:search">搜索</button>
		</header>
		<div id="main">
			<div id="search-result">
				<div class="fav-com-con"></div>
			</div>
		</div>
	</body>

</html>