<extend name='Layout:layout' />
<block name='sp'>

        <div class="pageheader">
            <h1 class="pagetitle">特惠信息修改</h1>

        </div><!--pageheader-->

            <div id="validation" class="subcontent" >
                
                    <form id="form1" class="stdform" method="post" action="{:U('tehui/edit')}" enctype="multipart/form-data">
                    <!--隐藏域-->
                    <input type='hidden' name="id" id="firstname" style="width:30%" class="longinput" value="{$row.id}" />

                    
                        <p>
                          <label>结束时间&nbsp;</label>
                            <span class="field"><input type="text" id="email" class="longinput" style="width:30%" value="{$row.overtime}" placeholder="例如:2017-12-28-12:00" name="overtime" /></span>
                        </p>
                        
                        
                       

                        <p>
                            <label>头像预览&nbsp;</label>
                   <!--  <input type="file" value="{$row.headpic}" name='headpic' > -->
                      <span class="field">
                       <!--  <input type="file" name="pic" id="email" class="longinput" style="width:30%" disabled /> -->
                      </span>
                      <img src="../../../../../{$row.headpic}" width="120" height="80">

                        </p>
                          <p>
                            <label>状态&nbsp;</label>
                             <span class="field">
                             <select size="1" style='min-width:20%' name="state">
                                
                                <option  value="1" {$row['state']=='1'?'selected':''}>上架</option>
                                <option  value="2" {$row['state']=='2'?'selected':''}>下架</option>

                                
                             </select>
                             </span>
                        </p>

                        <p>
                            <label>分类&nbsp;</label>
                             <span class="field">
                             <select size="1" style='min-width:20%' name="type">
                                
                                <option  value="1" {$row['state']=='1'?'selected':''}>首页特惠</option><!-- 在这里继续写 -->
                                <option  value="2" {$row['state']=='2'?'selected':''}>其他页特惠</option>

                                
                             </select>
                             </span>
                        </p>

                        <br />
                        
                       <p class="stdformbutton">
                        <button class="submit radius2" >
                          &nbsp;&nbsp;&nbsp;<font size='5px'>修&nbsp;&nbsp;&nbsp;&nbsp;改</font>&nbsp;&nbsp;&nbsp;
                        </button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       </p> 
                       
                    </form>

            </div><!--subcontent-->
        
    
</div>


<script>
  aa();
  function aa() {
    $('#error').css('display','block');
  }


</script>


</block>