<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>提交成功</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="SubmitSuccess.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="SubmitSuccess.js"></script>
	</head>
	<body>
		<header class="return-header">
			<i class="iconfont icon-fanhui"></i>
			<span class="h-title">成功</span>
		</header>
		<div id="main-con">
			<div id="success-info">
				<i class="iconfont icon-chenggong"></i>
				<span id="tip-con">提交成功</span>
				<span id="btns-con">
					<button id="return-home">返回主页</button>
					<button id="return-setting">返回设置</button>
				</span>
			</div>
			
			
		</div>
	</body>
</html>
