<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>用户评价</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="../Public/swiper-3.4.2.min.css" />
		<link rel="stylesheet" href="EvaAll.css" />
		<link rel="stylesheet" href="../Public/eva.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="EvaAll.js"></script>
		<script type="text/javascript" src="../Public/swiper-3.4.2.jquery.min.js"></script>
	</head>

	<body>
		<header id="eva-sort">
			<span class="sort-item selected">
				<span class="text-con">全部</span>
			<span class="sort-num">(24005)</span>
			</span>
			<span class="sort-item">
				<span class="text-con">晒图</span>
			<span class="sort-num">(2175)</span>
			</span>
			<span class="sort-item">
				<span class="text-con">低分</span>
			<span class="sort-num">(24005)</span>
			</span>
			<span class="sort-item">
				<span class="text-con">最新</span>
			<span class="sort-num">(24005)</span>
			</span>
		</header>
		<div class="swiper-container" id="evasort-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<ul id="evaall-list">
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="swiper-slide">
					<ul id="evaimg-list">
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="swiper-slide">
					<ul id="evabad-list">
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="swiper-slide">
					<ul id="evanew-list">
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
						<li class="eva-item">
							<div class="eva-itemtitle">
								<a href="" class="eva-user">
									<span class="user-con">
								<img src="../../STATIC/img/头像.jpg" class="user-img"/>
								<span class="user-info">
									<span class="user-name-con">
										<span class="user-name">肥皂易滑</span>
									<i class="icon-level"></i>
									</span>
									<span class="rate-b">
										<span class="rate-s" style="width: 80%;"></span>
									</span>
									</span>
									</span>
									<span class="eva-time">
								2017-7-10
							</span>
								</a>
							</div>
							<div class="evaitem-main">
								<div class="eva-text">菜品新鲜，环境不错。</div>
								<div class="eva-img swiper-no-swiping">
									<div class="img-con">
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/网站-06.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
										<img src="../../STATIC/img/头像.jpg" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>

</html>