<extend name='Layout:layout' />
<block name='sp'>
 <form class="stdform" action="{:U('editdo')}" method="post" >
                        
                        <p>
                            <label>修改前分类：</label>
                            <span class="field"><input type="text" value="{$name}" class="smallinput"  disabled /></span>
                           
                        </p>
                         <p>
                            <label>修改后分类名：</label>
                            <span class="field"><input type="text" name="name" value="{$name}" class="smallinput" placeholder="请输入分类名" /></span>
                           
                        </p>
                        <!--隐藏域-->
                        <input type="hidden" name="id" value="{$pid}">
                        
                        <p class="stdformbutton">
                            <button class="submit radius2">保存</button>
                            <input type="reset" class="reset radius2" value="重置" />
                        </p>
                        
                        
                    </form>
</block>