<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>验证历史</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="CodeHistory.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="../Public/order-expand.js"></script>
		<script type="text/javascript" src="CodeHistory.js"></script>
	</head>

	<body>
		<header class="return-header">
			<i class="iconfont icon-fanhui"></i>
			<span class="h-title">验证历史</span>
		</header>
		<div id="main-con">
			<ul id="order-list">
				<li class="order-item food-order">
					<div class="item-title">
						<span class="item-type">堂食</span>
						<span class="item-time">
											<span class="date-con">11/17</span>
						<span class="time-con">15:32</span>
						<span class="text-con">下单</span>
						</span>
					</div>
					<div class="item-user">
						<span class="user-info">
											<span class="user-name">路先生</span>
						<span class="user-phone">13354668521</span>
						</span>
						<span class="phone-con">
											<i class="iconfont icon-bohaoxianxing"></i>
										</span>
					</div>
					<div class="item-info">
						<div class="info-title">
							<span class="order-name">乐享2~3人套餐</span>
							<i class="iconfont icon-arrow-down"></i>
						</div>
						<div class="info-main">
							<table class="info-table">
								<tbody>
									<tr>
										<td class="com-name">鹅肝手握</td>
										<td class="com-num">x1</td>
										<td class="com-price">
											<i class="money">K</i><span class="money-num">5000</span>
										</td>
									</tr>
									<tr>
										<td class="com-name">鹅肝手握</td>
										<td class="com-num">x1</td>
										<td class="com-price">
											<i class="money">K</i><span class="money-num">5000</span>
										</td>
									</tr>
									<tr>
										<td class="com-name">鹅肝手握</td>
										<td class="com-num">x1</td>
										<td class="com-price">
											<i class="money">K</i><span class="money-num">5000</span>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="info-num">
								<span class="order-text">订单号：</span>
								<span class="order-num">4545454545</span>
							</div>
						</div>
					</div>
					<div class="item-total">
						<span class="total-text">总计</span>
						<span class="total-money">
											<span class="old-price">
												<i class="money">K</i><span class="money-num">4000</span>
						</span>
						<span class="current-price">
												<i class="money">K</i><span class="money-num">4000</span>
						</span>
						</span>
					</div>
					<div class="item-status">
						验证成功
					</div>
				</li>
			</ul>
		</div>
	</body>

</html>