<extend name='Layout:layout' />
<block name='sp'>

        <div class="pageheader">
            <h1 class="pagetitle">本店菜品分类</h1>

        </div><!--pageheader-->

            <div id="validation" class="subcontent" >
                
                  <!-- <form id="form1" class="stdform" method="post" action="{:U('food/edit')}" > -->
                    <!--隐藏域-->
                   <!--  <input type='hidden' name="id" id="firstname" style="width:30%" class="longinput" value="{$row.id}" /> -->
                   

                  
                        <p>
                            
                            <foreach name='row' item='v'>
                            
                      <input type="text" name="" value="{$v.name}">

                      </foreach>
                        </p> 

                        
                        
                       
                   <!--  </form> -->

            </div><!--subcontent-->
        
    
</div>


<script>
  aa();
  function aa() {
    $('#error').css('display','block');
  }


</script>


</block>