<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 定义这个东西，让他屏幕大小适应手机端-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"><!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"><!-- 设置苹果工具栏颜色 -->
    <meta name="format-detection" content="telphone=no, email=no"><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <meta name="nightmode" content="enable/disable">
    <meta name="imagemode" content="force">
    <!-- 禁用掉uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。 -->
    <meta name="wap-font-scale" content="no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>评价</title>
    <link rel="stylesheet" href="../Public/reset.css">
    <link rel="stylesheet" href="../Public/iconfont.css">
    <link rel="stylesheet" href="comment.css">
</head>
<body>
    <!-- 评价头部 -->
    <div class="comment-header">
        <i class="iconfont icon-back" onclick="backPre()"></i>
        <span class="comment-content">评价</span>
    </div>
    <!-- 评价详情内容 -->
    <div class="comment-main">
        <div class="comment-main-box">
            <div class="comment-main-content">
                <div class="main-content-top">
                    <div class="main-content-top1">
                        <span class="top1-img"></span>
                        <span class="top1-name">四季粥铺</span>
                    </div>
                    <div class="main-content-top2">虾仁玉米粥等2件商品</div>
                </div>
                <textarea class="main-content-middle">说说哪里满意，帮大家选择</textarea>
                <div class="main-content-bottom">
                    <p class="main-content-bottom1">
                        <span class="star star-active"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </p>
                    <div class="main-content-bottom2">
                        <p class="upload-img">
                            <span class="img-title"></span>
                            <span class="tips-title">点击上传图片</span>
                        </p>
                        <p class="small-img">图片缩略图</p>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="comment-footer">评价</div>
    <script src="../Public/adaptation.js"></script>
    <script src="../Public/zepto.min.js"></script>
    <script src="../Public/common.js"></script>
</body>
</html>