<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>外卖成功</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="PaySuccess.css"/>
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="PaySuccess.js"></script>
	</head>
	<body>
		<div class="paytip-con">
			<div class="tiptext-con">
				<span class="img">
					<i class="iconfont icon-ok"></i>
				</span>
				<span class="text">支付成功</span>
			</div>
			<div class="btn-con">
				<a href="" id="order-jump">查看我的订单</a>
				<button class="determine-btn">确定</button>
			</div>
		</div>
	</body>
</html>
