#phoneSwiper{
	width: 100%;
	margin-top: .95rem;
}
.swiper-slide{
	padding: .4rem .2rem;
	width: 100%;
	height: 100%;
}
.phone-con{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	border: 1px solid #B8B3B6;
	padding-left: .1rem;
	color: #B8B3B6;
	border-radius: 8px;
	margin-top: .2rem;
	display: flex;
	display: -webkit-flex;
	overflow: hidden;
}
.icon-con{
	width: 10%;
	height: 100%;
	text-align: center;
}
.icon-con .iconfont{
	font-size: .5rem;
}
.phone-con input{
	width: 90%;
	height: 100%;
	border: none;
	outline: medium;
	color: #B8B3B6;
	background: #Fff;
	font-size: .3rem;
}
#sms{
	height: 100%;
	width: 60%;
	font-size: .3rem;
	float: left;
	border: none;
	outline: medium;
	color: #333;
}
#send-sms{
	height: 100%;
	width: 40%;
	font-size: .3rem;
	float: right;
	border: none;
	color: #fff;
	text-align: center;
	background: #00BED7;
	outline: none;
}
#send-sms .time-text{
	display: none;
}
#send-sms.disable{
	background: #E8E6E7;
	color: #B8B3B7;
}
#tips1-con,#tips2-con{
	width: 100%;
	line-height: .8rem;
	color: #F14842;
	margin-top: .2rem;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.next-btn{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	color: #FFF;
	margin-top: .4rem;
	background: #00BDD6;
	border-radius: 8px;
	border: none;
	outline: none;
}
.next-btn.disabled{
	background: #B8B3B7;
}
#newpage{
	padding: .4rem .2rem;
}
.password-con{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	border: 1px solid #B8B3B6;
	padding-left: .1rem;
	color: #B8B3B6;
	border-radius: 8px;
	margin-top: .2rem;
	display: flex;
	display: -webkit-flex;
	overflow: hidden;
	background: #fff;
}
.icon-con{
	width: 10%;
	height: 100%;
	text-align: center;
}
.icon-con .iconfont{
	font-size: .5rem;
}
.password-con input{
	width: 90%;
	height: 100%;
	border: none;
	outline: medium;
	color: #B8B3B6;
}
