<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<meta name="screen-orientation" content="portrait"/>
		<meta name="x5-orientation" content="portrait"/>
		<meta name="full-screen" content="yes"/>
		<meta name="x5-fullscreen" content="true"/>
		<meta name="browsermode" content="application"/>
		<meta name="x5-page-mode" content="app"/>
		<meta name="msapplication-tap-highlight" content="no"/>
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="Login.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="Login.js"></script>
	</head>
	<body>
		<header class="html-title">
			<i class="iconfont icon-fanhui"></i>
			<span class="title-text">登录到kintime</span>
		</header>
		<div class="main">
			<div class="main-con">
				<div class="input-con">
					<span class="icon-con">
						<i class="iconfont icon-ren"></i>
					</span>
					<input type="number" placeholder="请输入手机号/帐号" id="account"/>
				</div>
				<div class="input-con">
					<span class="icon-con">
						<i class="iconfont icon-suo"></i>
					</span>
					<input type="password" placeholder="请输入密码" id="password"/>
				</div>
				<div id="tip"></div>
				<div id="other-tip">
					<a class="forget-pass" href="../RetrievePass/RetrievePass.html">忘记密码？</a>
					<a class="regist-con" href="../Register/Register.html">
						<span class="regist-text">还没有帐号？</span>
						<span>立即注册</span>
					</a>
				</div>
				<button class="login-btn disabled">登录</button>
			</div>
		</div>
	</body>
</html>
