<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>提现成功</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="WidthDrawSuccess.css" />
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="WidthDrawSuccess.js"></script>
	</head>
	<body>
		<header>
			<i class="iconfont icon-chenggong"></i>
			<span class="title">您已成功提交提现申请</span>
		</header>
		
		<!--提示-->
		<div class="tips-con">
			<div class="tip">每天只能提交一次提现申请</div>
			<div class="tip">提现金额将在三个工作日内到账</div>
		</div>
		<!--按钮-->
		<button class="determine-btn">确定</button>
	</body>
</html>
