<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>提现</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telphone=no,email=no" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<meta name="full-screen" content="yes" />
		<meta name="x5-fullscreen" content="true" />
		<meta name="browsermode" content="application" />
		<meta name="x5-page-mode" content="app" />
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="stylesheet" href="../Public/public.css" />
		<link rel="stylesheet" href="../Public/iconfont.css" />
		<link rel="stylesheet" href="WidthDraw.css"/>
		<script type="text/javascript" src="../Public/zepto.min.js"></script>
		<script type="text/javascript" src="../Public/adaptation.js"></script>
		<script type="text/javascript" src="WidthDraw.js"></script>
	</head>
	<body>
		<header>
			<span class="img">
				<i class="iconfont icon-tixian"></i>
			</span>
			<span class="title">提现到</span>
		</header>
		<!--银行卡分类-->
		<div class="card-con">
			<div class="card-item lao">
				<span class="img">
					<i class="iconfont icon-qia"></i>
				</span>
				<span class="title">老挝银行卡</span>
			</div>
			<div class="card-item cn">
				<span class="img">
					<i class="iconfont icon-qia"></i>
				</span>
				<span class="title">中国银行卡</span>
			</div>
			<div class="card-item ali">
				<span class="img">
					<i class="iconfont icon-zhifubao"></i>
				</span>
				<span class="title">支付宝</span>
			</div>
			<div class="card-item face">
				<span class="img">
					<i class="iconfont icon-facebook"></i>
				</span>
				<span class="title">facebook</span>
			</div>
		</div>
		<!--提示-->
		<div class="tips-con">
			<div class="tip">每天只能提交一次提现申请</div>
			<div class="tip">提现金额将在三个工作日内到账</div>
		</div>
	</body>
</html>
